// main colors
$color-main: #54ACD2;
$color-main-light: #89D1F1;
$color-main-dark: #158EC3;
$color-main-light-gray: #022E42;
$color-main-dark-gray: red;
$color-main-text: #292929;
$color-main-text-shadow: $color-main-light-gray;
$color-main-hover-light: $color-main-light+#111;
$color-main-hover-dark: $color-main-dark+#111;
$color-main-click-light: $color-main;
$color-main-click-dark: $color-main-light-gray;
$gradient-main: $color-main;
$gradient-main-hover: $color-main-light;
$gradient-main-click: $color-main-click-light;
$color-btn-text: $color-main-light-gray;

$divider-line: $color-main;

// border colors
$color-border-light: blue;
$color-border-dark: blue;
$gradient-border: $color-main-light;

$color-border-hover-light: $color-main-hover-light;
$color-border-hover-dark: $color-main-hover-light;
$gradient-border-hover: $color-main-hover-light;


$color-border-click-light: $color-main-click-light;
$color-border-click-dark: $color-main-click-light;
$gradient-border-click: $color-main-click-light;

//
$gradient-input-border: $color-main-light-gray;

$gradient-scrollbar-click: $color-main;

$select-text: #333;

$catalog-menu-item-lvl1: $color-main-dark;

$gradient-header-bg: url('../../img/patterns/gradient-header-bg-blue.png');

$color-disabled-text: #c1c1c1;
$color-disabled-bg: #e8e8e8;
$gradient-disabled: #e8e8e8;
$gradient-disabled-border: #c1c1c1;

// buutons colors
$gradient-silver: $color-main-light;
$gradient-silver-hover: $color-main-hover-light;
$gradient-silver-click: $color-main;
$gradient-silver-border: $color-main-light;
$gradient-silver-border-hover: $color-main-hover-light;
$gradient-silver-border-click: $color-main;
$color-silver-shadow: red;
$color-alphabet-text: $color-main-dark;

// tab text colors
$color-tab-text: $color-main-light-gray;
$color-tab-text_active: $color-main-light-gray;

